.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #14a0cf;
}

.search-button {
  color: #d1cfcf;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animated-input {
  width: 300px;
  height: 3rem;
  padding: 0.5rem 1rem;
  border: 2px solid #ff7f50;
  border-radius: 8px;
  outline: none;
  transition: width 0.5s ease;

  /* Add animation */
  animation: borderPulse 2s infinite alternate;
}

.animated-input:focus {
  border-color: #007bff; /* solid blue on focus */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  animation: none; /* stop animation while typing */
}

@keyframes borderPulse {
  0% {
    border-color: #ff7f50;
    border-radius: 8px;
  }
  50% {
    border-color: #007bff;
    border-radius: 20px;
  }
  100% {
    border-color: #ff7f50;
    border-radius: 8px;
  }
}
